
p{
    border-style: inset;
width: 50%;
text-align: justify;
}
.divpe{
    text-align: -webkit-center;
    margin-top: 20px;
}
.buttonb{
    float: left;
}
@media screen and (max-width: 600px) {
 p{
    word-wrap: break-word;
    text-align: -webkit-match-parent;
    width: 100%;
 }

  }